.tabs__control {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 13px 22px;
    margin-bottom: 12px;
    max-width: 285px;
    margin-left: auto;
    color: #fff;
}
.tabs__btn {
    font-weight: 700;
    line-height: 1.1;
    background-color:transparent;
    border: 0;
    color: inherit;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
}
.tabs__btn_active {
   border-color:#fff;
}
.tabs__content {
    display: flex;
    justify-content: space-between;
    gap:30px;
}
.tabs__item {
    display: none;
}
.tabs__item_active {
    display: block;
}

@media(max-width:1000px) {
    .tabs__control {
        padding: 16px 38px;
        margin-bottom: 10px;
    }
}
@media(max-width:850px) {
    .tabs__content{
        flex-wrap: wrap;
    }
    .tabs__control {
        padding: 16px 46px;
        margin-bottom: 16px;
    }
    .tabs__content_video {
        row-gap: 50px;
    }
    .tabs__content_photo {
        row-gap: 30px;
    }
    .tabs__content_product {
        row-gap: 35px;
    }
}

@media(max-width:480px) {
    .tabs__control {
        max-width: 220px;
        margin-left: 0;
        margin-right: auto;
        padding: 10px 30px;
        margin-bottom: 20px;
    }
}
@media(max-width:360px) {
    .tabs__control {
        max-width: 220px;
        margin: 0 auto 20px;
        padding: 10px 30px;

    }
}